h1 {
    background-color: black;
    color: yellowgreen;
    text-align: center;
  font-family: Arial, Helvetica, sans-serif;
-webkit-text-fill-color: wheat;
    -webkit-text-stroke: 1px;

}

.body {
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   -webkit-text-fill-color: wheat;
   -webkit-text-stroke: 1px black;

    
}
form label {
    display: inline-block;
    width: 100px;
}

.head {
    text-align: center;
    padding-left: 200px;
    font-family: Arial, Helvetica, sans-serif;

}
thead tr td {
    font-weight: bold;
    padding-left: 100px;
    border: 1px solid black;
}







